/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
*.sassc
*.map
/resources/public/csss/style.css
/resources/public/.DS_Store
/resources/.DS_Store
/.DS_Store
