@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed")

$bg1: #021212
$bg2: #031e1e

body
  background-color: $bg1
  color: #dcdcdc
  font-family: 'Roboto', Open Sans, Helvetica Neue, Arial, sans-serif

logo
  font-size: 1.1em
  border-bottom: 2px solid #1160A6
  padding-bottom: 4px

.data-tableau
  position: relative
  top: 20px
  background-color: $bg2
  color: #cc8490
  font-size: .8em
  max-width: 800px
  align: center
  padding: 5px 10px 5px 10px
  border-bottom: 1px dotted #82CDF0
  border-top: 1px solid #82CDF0

