@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed")
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i')

$bg1: #021212
$bg2: #031e1e

body
  background-color: $bg1
  color: #dcdcdc
  font-family: 'Roboto', Open Sans, Helvetica Neue, Arial, sans-serif

header
  display: grid
  max-width: 1500px
  margin: 0 auto
  margin-bottom: 15px
  grid-template-columns: 200px 500px 800px
  border-bottom: 2px solid #083256
  padding-bottom: 4px

  logo
    font-family: 'Montserrat'
    font-weight: light
    font-style: italic
    font-size: 1.1em

  #navi
    ul
      margin: 0
      padding: 0
      list-style-type: none
      
      ul, li
        margin: 0
        padding: 0 20px 0 0 
        position: relative
        display: inline
        float: left

#breadcrumb-component
  display: grid
  max-width: 1500px
  background-color: #000
  color: #fff

.container
  display: grid
  max-width: 1500px
  margin: 0 auto
  
.data-tableau
  display: grid
  min-width: 1500px
  margin: 0 auto
  margin-top: 30px
  background-color: $bg2
  color: #cc8490
  font-size: .8em
  max-width: 800px
  align: center
  padding: 5px 10px 5px 10px
  border-bottom: 1px dotted #82CDF0
  border-top: 1px solid #82CDF0

